body {
  font-family: "Montserrat", sans-serif;
}

.app-header {
  margin: 50px;
  display: flex;
  justify-content: space-between;
}

.new-photo {
  height: 40px;
  font-size: 13px;
  padding-left: 12px;
  padding-right: 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 6px;
}
