body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
}

.App {
  min-height: 100vh;
}

.app-header {
  margin: 50px;
}

.footer {
  text-align: center;
  flex: 1;
  min-height: 2rem;
}
