.logo-container {
  display: flex;
  justify-content: space-between;
}
.search-container {
  display: flex;
  gap: 18px;
}
.logo-image {
  margin-right: 16px;
  width: 26px;
}
.logo-description {
  display: flex;
  align-items: center;
}

.logo-description h1 {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
}

.logo-container .input-group {
  width: 350px;
  margin-left: 60px;
}

.logo-container .input-group input {
  height: 40px;
}

.search-icon {
  border: var(--bs-border-width) solid var(--bs-border-color);
  height: initial;
  border-right: none;
  border-radius: 6px;
  padding-left: 18px;
  width: 37px;
}
.search-input {
  border-left: none;
}
.search-input:focus {
  outline: none;
  box-shadow: none;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-left: none;
}

@media only screen and (max-width: 600px) {
  .logo-container {
    flex-direction: column;
  }
  .logo-container .input-group {
    margin-left: 0;
    margin-top: 20px;
    width: 80vw;
  }
  .search-container {
    flex-direction: column;
  }
  .search-icon {
    height: unset;
  }
  .logo-description {
    justify-content: center;
  }
}
